<!DOCTYPE HTML>
<html>
	<head>
		{% load staticfiles %}
		<title>Cesar-Demo</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'home/js/jquery.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'home/js/skel.min.js' %}"></script>
		<script src="{% static 'home/js/skel-layers.min.js' %}"></script>
		<script src="{% static 'home/js/init.js' %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static 'home/css/skel.css' %}" />
			<link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
			<link rel="stylesheet" href="{% static 'home/css/style-xlarge.css' %}" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>
		<header id="header">
			<h1 id="logo"><a href="/">Cesar</a></h1>
		</header>
		<div id="main" class="wrapper style1">
			<div class="container">
				<header class="major">
					<h2>Demo</h2>
					<p>Aqui podras probar un poco de como funciona</p>
				</header>
				<div class="row 150%">
					<div class="4u 12u$(medium)">
						<section id="sidebar">
								<h3>Introduce aqui tu usuario de Twitter</h3>
								<form method="post" action="." class="container 100%">
									{% csrf_token %}
									<div class="row">
										<div class="8u(medium) 8u(large)12u$(xsmall)"><input type="text" name="username_twitter" id="twitter" placeholder="Twitter " /></div>
										<div class="8u(medium) 4u$(small) 4u(large)6u$(xsmall)"><input type="submit" value="Enviar" class="fit special" /></div>
									</div>
								</form>
						</section>
					</div>
					<div class="8u$ 12u$(medium) important(medium)">
						<section id="content">
							<h3>Twitter</h3>
							<p>A partir de Twitter obtenemos todos los datos de sus ultimos twits, y a partir de su lenguaje y su escritura se obtiene un perfil</p>
							<h3>¿Por que Twitter?</h3>
							<p>Esta red social es solamente un ejemplo de la forma en la que se puede anarilzar el perfil de una persona recopilar informacion y procesarla para obtener los datos que nosotros emplearemos</p>
						</section>
					</div>
				</div>
			</div>
		</div>
		<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/DreediMx" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/Dreedi" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://github.com/DreediMX/Cesar" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Cesar All rights reserved.</li><li>Design: <a href="http://dreedi.com">Dreedi</a></li>
			</ul>
		</footer>
	</body>
</html>