<!DOCTYPE HTML>
<html>
	<head>
		{% load staticfiles %}
		<title>Cesar</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'home/js/jquery.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'home/js/skel.min.js' %}"></script>
		<script src="{% static 'home/js/skel-layers.min.js' %}"></script>
		<script src="{% static 'home/js/init.js' %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static 'home/css/skel.css' %}" />
			<link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
			<link rel="stylesheet" href="{% static 'home/css/style-xlarge.css' %}" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">
			<header id="header">
				<h1 id="logo"><a href="index.html">Cesar</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/demo" class="button special">Empieza ahora</a></li>
					</ul>
				</nav>
			</header>
			<section id="banner">
				<div class="content">
					<header>
						<h2>El futuro es ahora</h2>
						<h3>Cesar, tu stalker profesional</h3>
					</header>
					<span class="image">
						<img src="{% static 'home/images/watson.png' %}" alt="" />
					</span>
				</div>
				<a href="#one" class="goto-next scrolly">Siguiente</a>
			</section>
			<section id="one" class="spotlight style1 bottom">
				<span class="image fit main"><img src="{% static 'home/images/bg2.jpg' %}" alt="" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="4u 12u$(medium)">
								<header>
									<h2>Conoce a cesar</h2>
									<p>Toda la informacion que necesites, a tu alcance de tus manos</p>
								</header>
							</div>
							<div class="8u 12u$(medium)">
								<p style="font-size:26px;">Cesar conseguira toda la informacion que necesites,
								realizando la busqueda de los datos a nuestro alcance.
								<br />
								<br />
								Olvidate de preocuparte por quien emplea la plataforma.
								</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Next</a>
			</section>
			<section id="two" class="spotlight style2 right">
				<span class="image fit main"><img src="{% static 'home/images/bg3.jpg' %}" alt="" /></span>
				<div class="content">
					<header>
						<h2>Protegemos de riesgos</h2>
					</header>
					<p>
						Reducimos el riesgo que implica el no conocer a tu cliente,
						obteniendo informacion sobre el, procesandola, teniendo
						como resultado, informacion medible, verás y rapida para la toma de desiciones.
						<br />
						<br />
						Con Cesar podras conocer a tu cliente mas a fondo sin necesidad de estar con el
					</p>
				</div>
				<a href="#three" class="goto-next scrolly">Next</a>
			</section>
			<section id="three" class="spotlight style3 left">
				<span class="image fit main bottom"><img src="{% static 'home/images/bg4.jpg' %}" alt="" /></span>
				<div class="content">
					<header>
						<h2>Aprende contigo</h2>
					</header>
					<p>Evaluamos los resultados y aprendemos de ellos para brindarte a ti,
					la mayor seguridad sobre los datos.
					<br />
					<br />
					La plataforma crece y se adapta a tus necesidades, reduciendo riesgos y optimizando resultados.
					<br />
					<br />
					Ya no te preocupes, deja que Cesar lo haga por ti, el analizara el perfil de tu cliente y te dira cual es la mejor desicion que puedes tomar.
					</p>
				</div>
				<a href="#four" class="goto-next scrolly">Next</a>
			</section>
			<section id="four" class="wrapper style1 special fade-up">
				<div class="container">
					<header class="major">
						<h2>¿Como funciona?</h2>
					</header>
					<div class="box alt">
						<div class="row uniform">
							<section class="4u 6u(medium) 12u$(xsmall)">
								<span class="icon alt major fa-area-chart"></span>
								<h3>Analisis de datos</h3>
								<p>Analizamos los datos mediante una inteligencia artifical, que evalua el perfil de la persona</p>
							</section>
							<section class="4u 6u$(medium) 12u$(xsmall)">
								<span class="icon alt major fa-comment"></span>
								<h3>Intuitivo</h3>
								<p>Realizamos busquedas a partir de lenguaje natural, patrones de escritura y uso de la lengua.</p>
							</section>
							<section class="4u$ 6u(medium) 12u$(xsmall)">
								<span class="icon alt major fa-flask"></span>
								<h3>Procesamiento de datos</h3>
								<p>Una vez dada la autorizacion realizamos una busqueda de informacion para conocer a la persona dando como resultado un perfil completo</p>
							</section>
							<section class="4u 6u$(medium) 12u$(xsmall)">
								<span class="icon alt major fa-facebook"></span>
								<h3>Herramientas comunes</h3>
								<p>Utilizamos herramientas comunes para obtener datos haciendo mas facil el acceso a ellos, y mucho mas natural</p>
							</section>
							<section class="4u 6u(medium) 12u$(xsmall)">
								<span class="icon alt major fa-file"></span>
								<h3>Generamos un perfil</h3>
								<p>Ponemos a tu alcance un perfil y la evaluacion de los aspectos principales de la persona, asi como su personalidad</p>
							</section>
							<section class="4u$ 6u$(medium) 12u$(xsmall)">
								<span class="icon alt major fa-lock"></span>
								<h3>Seguridad para la persona</h3>
								<p>No almacenamos datos privados de la persona, y entregamos resultados protegidos</p>
							</section>
						</div>
					</div>
					<footer class="major">
						<ul class="actions">
							<li><a href="demo.html" class="button special">¿Listo?</a></li>
						</ul>
					</footer>
				</div>
			</section>
			<section id="five" class="wrapper style2 special fade">
				<div class="container">
					<header>
						<h2>Te gustaria recibir mas informacion</h2>
						<p>Dejanos tu correo aqui, y recibiras la ultima informacion sobre el proyecto</p>
					</header>
					<form method="post" action="#" class="container 50%">
						<div class="row uniform 50%">
							<div class="8u 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Tu Email " /></div>
							<div class="4u$ 12u$(xsmall)"><input type="submit" value="Enviar" class="fit special" /></div>
						</div>
					</form>
				</div>
			</section>
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/DreediMx" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/Dreedi" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://github.com/DreediMX/Cesar" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Cesar All rights reserved.</li><li>Design: <a href="http://dreedi.com">Dreedi</a></li>
				</ul>
			</footer>

	</body>
</html>