<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		{% load staticfiles %}
		<title>Cesar-Resume</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static 'home/js/jquery.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.scrolly.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.dropotron.min.js' %}"></script>
		<script src="{% static 'home/js/jquery.scrollex.min.js' %}"></script>
		<script src="{% static 'home/js/skel.min.js' %}"></script>
		<script src="{% static 'home/js/skel-layers.min.js' %}"></script>
		<script src="{% static 'home/js/init.js' %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static 'home/css/skel.css' %}" />
			<link rel="stylesheet" href="{% static 'home/css/style.css' %}" />
			<link rel="stylesheet" href="{% static 'home/css/style-xlarge.css' %}" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>
		<header id="header">
				<h1 id="logo"><a href="/">Cesar</a></h1>
			</header>
			<div id="main" class="wrapper style1">
				<div class="container">
					<header class="major">
						<span class="image">
							<img src="{% static 'home/images/watson.png' %}" alt=""/>
						</span>
						<br />
						<h2><b>Resumen de perfil</b></h2>
					</header>
						<section id="content" style="text-align:center;">
							<!--<p>Resultado de <b>recomendacion</b>: Persona <b><span id="result">no apta</span></b> para el credito</p>-->
							<h2>Analisis:</h2>
							<form name="form" style="display:none;">
								<input type="hidden" id='OpAdventure' value="{{ emotions.info.all.Adventurousness }}" />
								<input type="hidden" id='OpArtistic' value="{{ emotions.info.all.Artistic_interests }}" />
								<input type="hidden" id='OpEmotions' value="{{ emotions.info.all.Emotionality }}" />
								<input type="hidden" id='OpImagination' value="{{ emotions.info.all.Imagination }}" />
								<input type="hidden" id='OpIntelectual' value="{{ emotions.info.all.Intellect }}" />
								<input type="hidden" id='OpLiberalism' value="{{ emotions.info.all.Authority_challenging }}" />
								<input type="hidden" id='CoConstance' value="{{ emotions.info.all.Achievement_striving }}"/>
								<input type="hidden" id='CoCautiousness' value="{{ emotions.info.all.Cautiousness }}" />
								<input type="hidden" id='CoResponsability' value="{{ emotions.info.all.Dutifulness }}" />
								<input type="hidden" id='CoOrganizational' value="{{ emotions.info.all.Orderliness }}" />
								<input type="hidden" id='CoPersistance' value="{{ emotions.info.all.Self_discipline }}"/>
								<input type="hidden" id='CoCompetence' value="{{ emotions.info.all.Self_efficac }}"/>
								<input type="hidden" id='ExEnergy' value="{{ emotions.info.all.Activity_level }}"/>
								<input type="hidden" id='ExAsertivity' value="{{ emotions.info.all.Assertiveness }}"/>
								<input type="hidden" id='ExCheerful' value="{{ emotions.info.all.Cheerfulness }}"/>
								<input type="hidden" id='ExExitment' value="{{ emotions.info.all.Excitement_seeking }}"/>
								<input type="hidden" id='ExOutgoing' value="{{ emotions.info.all.Outgoing }}"/>
								<input type="hidden" id='Exsociable' value="{{ emotions.info.all.Gregariousness }}"/>
								<input type="hidden" id='AgAltruism' value="{{ emotions.info.all.Altruism }}"/>
								<input type="hidden" id='AgCooperation' value="{{ emotions.info.all.Cooperation }}"/>
								<input type="hidden" id='AgModest' value="{{ emotions.info.all.Modesty }}"/>
								<input type="hidden" id='AgMorality' value="{{ emotions.info.all.Uncompromising }}"/>
								<input type="hidden" id='AgSympathy' value="{{ emotions.info.all.Sympathy }}"/>
								<input type="hidden" id='AgTrust' value="{{ emotions.info.all.Trust }}"/>
								<input type="hidden" id='EmAnger' value="{{ emotions.info.all.Fiery }}"/>
								<input type="hidden" id='EmAnxiety' value="{{ emotions.info.all.Prone_to_worry }}"/>
								<input type="hidden" id='EmDepression' value="{{ emotions.info.all.Melancholy }}"/>
								<input type="hidden" id='EmImmpoderation' value="{{ emotions.info.all.Immoderation }}"/>
								<input type="hidden" id='EmSelf' value="{{ emotions.info.all.Self_consciousness }}"/>
								<input type="hidden" id='EmVulnerability' value="{{ emotions.info.all.Susceptible_to_stress }}"/>
								<input type="hidden" id='GAltruism' value="{{ emotions.info.percentages.good.Altruism}}"/>
								<input type="hidden" id='GAssertiveness' value="{{ emotions.info.percentages.good.Assertiveness}}"/>
								<input type="hidden" id='GCooperation' value="{{ emotions.info.percentages.good.Cooperation}}"/>
								<input type="hidden" id='GCautiousness' value="{{ emotions.info.percentages.good.Cautiousness}}"/>
								<input type="hidden" id='VGSelf_discipline' value="{{ emotions.info.percentages.very_good.Self_discipline}}"/>
								<input type="hidden" id='VGDutifulness' value="{{ emotions.info.percentages.very_good.Dutifulness}}"/>
								<input type="hidden" id='VGTrust' value="{{ emotions.info.percentages.very_good.Orderliness}}"/>
								<input type="hidden" id='BMelancholy' value="{{ emotions.info.percentages.bad.Melancholy}}"/>
								<input type="hidden" id='BEmotionality' value="{{ emotions.info.percentages.bad.Emotionality}}"/>
								<input type="hidden" id='BSusceptible_to_stress' value="{{ emotions.info.percentages.bad.Susceptible_to_stress}}"/>
								<input type="hidden" id='BAdventurousness' value="{{ emotions.info.percentages.bad.Adventurousness}}"/>
								<input type="hidden" id='BArtistic_interests' value="{{ emotions.info.percentages.bad.Artistic_interests}}"/>
								<input type="hidden" id='BProne_to_worry' value="{{ emotions.info.percentages.bad.Prone_to_worry}}"/>
								<input type="hidden" id='VBUncompromising' value="{{ emotions.info.percentages.very_bad.Uncompromising}}"/>
								<input type="hidden" id='VBImmoderation' value="{{ emotions.info.percentages.very_bad.Immoderation}}"/>
								<input type="hidden" id='VBFiery' value="{{ emotions.info.percentages.very_bad.Fiery}}"/>
								<input type="hidden" id='VVBAuthority_challenging' value="{{ emotions.info.percentages.very_very_bad.Authority_challenging}}"/>
								<input type="hidden" id='Score' value="{{ emotions.final_percentage}}"/>
							</form>

					  		<div id="chartContainer-1" class="dgraph">
  							</div>
  							<div id="chartContainer-2" class="dgraph">
  							</div>
  							<div id="chartContainer-3" class="dgraph">
  							</div>
  							<div id="chartContainer-4" class="dgraph">
  							</div>
  							<div id="chartContainer-5" class="dgraph">
  							</div>
  							<div id="chartContainer-6" class="dgraph">
  							</div>
  							<br />
  							<br />
  							<br />
							<h2>Analisis filtrado:</h2>
					  		<div id="chartContainer-7" class="dgraph">
  							</div>
  							<div id="chartContainer-8" class="dgraph">
  							</div>
  							<div id="chartContainer-9" class="dgraph">
  							</div>
  							<div id="chartContainer-10" class="dgraph">
  							</div>
  							<div id="chartContainer-11" class="dgraph">
  							</div>
  							<div id="chartContainer-12" class="dgraph">
						</section>
				</div>
			</div>
			<footer id="footer">
			<ul class="icons">
				<li><a href="https://twitter.com/DreediMx" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/Dreedi" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="https://github.com/DreediMX/Cesar" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
			</ul>
			<ul class="copyright">
				<li>&copy; Cesar All rights reserved.</li><li>Design: <a href="http://dreedi.com">Dreedi</a></li>
			</ul>
		</footer>
		<script type="text/javascript" src="{% static 'home/js/graphs.js' %}"></script>
		<script type="text/javascript" src="{% static 'home/js/canvasjs.min.js' %}"></script>
	</body>
</html>